# version format
version: '{branch}-{build}'

# Do not build on tags (GitHub and BitBucket)
skip_tags: true

# Limit the number of last commits when cloning the repo/branch
clone_depth: 1

# Do not build feature branch with open Pull Requests
skip_branch_with_pr: true

# Build on x64 only
platform: x64

install:
  - ps: Install-Product node 10 x64
  - appveyor-retry yarn install
  - yarn run lint

build: off

test_script:
  - node --version
  - yarn --version
  - yarn windowsCopySymlinks
  - yarn test