# Dependencies
node_modules/

# ?
packages/*/lib
lib

# Mac Artifact
.DS_Store

# Yarn Error Output
yarn-error.log

# Lerna logging
lerna-debug.log

# Npm logging
npm-debug.log

# VSCode
.vscode/settings.json

# Ignore artifacts
*.tgz
.npmrc