---
version: 2.1

orbs:
  codecov: codecov/codecov@1.0.5
  browser-tools: circleci/browser-tools@0.1.3

defaults: &defaults
  docker:
    - image: circleci/node:12.15.0

jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run: yarn install
      - run: yarn lint
      - run: yarn test_with_coverage
      - codecov/upload:
          file: aura-language-server/coverage/*.json
          flags: frontend,aura
      - codecov/upload:
          file: lwc-language-server/coverage/*.json
          flags: frontend,lwc
      - codecov/upload:
          file: lightning-lsp-common/coverage/*.json
          flags: frontend,common
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - node_modules

  # TODO: Don't recompile everything. Use workspace persistance.
  deploy:
    <<: *defaults
    description: "Publish package to npmjs.org"
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run: yarn install
      - run: yarn build
      - run: git config user.email "nkruk@salesforce.com"
      - run: git config user.name "Nick Kruk"
      - run: yarn run version
      - run:
          name: Authenticate with NPM
          command: 'echo "//registry.npmjs.org/:_authToken=$NPM_PUBLISH_TOKEN" > .npmrc'
      - run:
          name: Publish to NPM
          command: yarn publish-lsp

workflows:
  version: 2.1
  build_and_deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only:
                - master
