**/.vscode/
**/.sfdx/
**/.forceignore
**/lwc/jsconfig.json
**/lwc/.eslintrc.json
**/modules/jsconfig.json
core-like-workspace/app/main/core/core.code-workspace
core-like-workspace/app/main/core/ui-global-components/core.code-workspace
