name: Push to main

on:
  push:
    branches: [main]

jobs:
  tests:
    uses: salesforcecli/github-workflows/.github/workflows/unitTest.yml@main
  release:
    runs-on: ubuntu-latest
    container:
      image: node:lts
    needs:
    - tests
    steps:
    - uses: actions/checkout@v3
      with:
        token: ${{ secrets.IDEE_GH_TOKEN }}
    - uses: ./.github/actions/gitConfig
      with:
        email: ${{ secrets.IDEE_GH_EMAIL }}
    - run: yarn
    - name: Conventional Changelog Action
      id: changelog
      uses: TriPSs/conventional-changelog-action@ed98b658f3015c5afb96a13caf9bb81f69df49e6
      with:
        git-user-name: Release Bot
        git-user-email: ${{ secrets.IDEE_GH_EMAIL }}
        github-token: ${{ secrets.IDEE_GH_TOKEN }}
        skip-version-file: true
        output-file: false
        tag-prefix: ""
        pre-commit: ./scripts/bump-lerna-version.js
        fallback-version: 3.12.0
    - name: Create Github Release
      uses: actions/create-release@v1
      if: ${{ steps.changelog.outputs.skipped == 'false' }}
      env:
        GITHUB_TOKEN: ${{ secrets.IDEE_GH_TOKEN }}
      with:
        tag_name: ${{ steps.changelog.outputs.tag }}
        release_name: ${{ steps.changelog.outputs.tag }}
        body: ${{ steps.changelog.outputs.clean_changelog }}
